* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1768px;
    margin: 0 auto;
}

/* shop topbar */

.shop-filer-bar {
    background-color: black;
    color: white;
    text-transform: uppercase;
    border: 1px solid #212121;
}

.filter-featured-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.Featured-box,
.filter-box {
    width: 50%;
    padding: 10px 0px;
    cursor: pointer;
}

.Featured-box {
    border-left: 1px solid #212121;
}

select {
    text-transform: uppercase;
    background-color: #000000;
    color: white;
    outline: none;
    border: 0;
    cursor: pointer;
}

.filter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.filter-box span {
    border-bottom: 1px solid transparent;
}

.filter-box:hover span {
    border-bottom: 1px solid white;
}

.filter-box .icon {
    width: 20px;
    height: 20px;
}

/* cards style in shop page */
.shop-page-card-section {
    opacity: 1;
    background: url(//www.thrudark.com/cdn/shop/files/Fog_Overlay_1_6.png?v=1696504462&width=1200);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000;
}

.shop-page-card-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000;
    z-index: -1;
}

/* cards style in shop page end */