* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Aeul;
    src: url(./font/GT-America-Extended-Ultra-Light-Trial.otf);
}

.container {
    max-width: 1768px;
    margin: 0 auto;
}



/* shop topbar */

.shop-filer-bar {
    background-color: black;
    color: white;
    text-transform: uppercase;
    border: 1px solid #212121;
}

.filter-featured-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: Aeul;
}

.Featured-box,
.filter-box {
    width: 50%;
    padding: 10px 0px;
    cursor: pointer;
}

.Featured-box {
    border-left: 1px solid #212121;
}

select {
    text-transform: uppercase;
    background-color: #000000;
    color: white;
    outline: none;
    border: 0;
    cursor: pointer;
}

.filter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.filter-box span {
    border-bottom: 1px solid transparent;
}

.filter-box:hover span {
    border-bottom: 1px solid white;
}

.filter-box .icon {
    width: 20px;
    height: 20px;
}

/* cards style in shop page */
.shop-page-card-section {
    opacity: 1;
    background: url(//www.thrudark.com/cdn/shop/files/Fog_Overlay_1_6.png?v=1696504462&width=1200);
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000;
}

.shop-page-card-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000;
    z-index: -1;
}

.shop-grid-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 0;
    gap: 20px;
    font-family: Aeul;
}

.card {
    width: 581px;
    height: 100%;
    cursor: pointer;
    background: #97999b;
    background: linear-gradient(150deg, #97999b1f, #97999b5e);
    border: 1px solid #4f4f4f;
}

.card-image {
    width: 100%;
    height: 880px;
    position: relative;
}

.card-image {
    width: 100%;
    height: 100%;
}

.card-image img {
    width: 100%;
}

.img .font-site {
    transition: all .3s ease-in-out;
}

.img .back-site {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    transition: all .3s ease-in-out;
    opacity: 0;
}

.card:hover .img .back-site {
    opacity: 1;
    transition: all .3s ease-in-out;
}

.card .img .font-site {
    opacity: 1;
    transition: all .3s ease-in-out;
}

.card:hover .img .font-site {
    opacity: 0;
    transition: all .3s ease-in-out;
}

.shop-side-card-image-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .3s ease-in-out;

}

.card:hover .shop-side-card-image-group {
    opacity: 1;
    transition: all .3s ease-in-out;
}

.shop-card-site-bar-image .shop-side-card-image-group img {
    width: 100%;
    width: 70px;
}

/* cards style in shop page end */